footer{
    background-color: #d6d6d6;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


footer .redes_sociais {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    gap: .5em;
}
/*
footer .redes_sociais img {
    width: 2em;
}

footer .outros div {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

footer .informacoes {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
*/