@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.cad_pessoa .titulo {
    font-family: "Acme", sans-serif;
    font-size: 5vh;  
}

.cad_pessoa .sub_titulo {
    font-family: "Acme", sans-serif;
    font-size: 4vh;  
}

.cad_pessoa .dados {
    font-family: "Acme", sans-serif;
    font-size: 3vh;  
}

.cad_pessoa .nome, .cad_pessoa .dt {
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;  
}