/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
 */
/* .cadastro {
    user-select: none;
    display: grid;
    justify-items: center;
    align-items: center;
} */

/* .cadastro .titulo_cad {
    font-family: "Acme", sans-serif;
    font-size: 5vh;   
} */

/* .cadastro .sub_titulo {
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    width: 45%;
} */

/* .cadastro .pessoa{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 5px;
} */

/* .cadastro .pessoa .pf {
    font-family: "Acme", sans-serif;
    font-size: 4vh;
    background-color: blue;
    width: 100%;
} */

/* .cadastro .pessoa .pj {
    font-family: "Acme", sans-serif;
    font-size: 4vh;
    background-color: chocolate;
    width: 60%;
} */

/* .cadastro .bt{
     display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; 
    height: 20px;
} */

/* .cadastro .bt .bt_pf {
    border: none;
    /* border-radius: 60px;
    background-color: #d60f0f;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
} */

/* .cadastro .bt .bt_pj {
    border: none;
    /*border-radius: 60px;    
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-color:#00496b;
} */
